<div class="jumbotron">
  <div class="container">
    <h1>的場研･神原研究室</h1>
    <h2>Matoba Lab. & Kamihara Lab.</h2>
    <p>慶應義塾大学理工学部物理情報工学科</p>
  </div>
</div> 
<div class="learn-more">
  <div class="container">
    <div class="row">
      <div id="news" class="col-md-8">
        <h3>イベント＆ニュース</h3>
        <table>
          <tbody class="scrollBody">
            <tr><td class="date">15/12/22</td><td class="news">
                <%= link_to "日本物理学会 第71回年次大会(2016年)", "http://w4.gakkai-web.net/jps_search/2016sp/index.html" %>@東北学院大学 泉キャンパスにて発表を行ないます.<br>
                <br>
                日時・場所: 3/22 (Tue.) BQ会場 12:15-<br>
                登壇者: 神原陽一<br>
                題目: 鉄系超伝導体SmFeAsO1-xHyのSmサイト同位体効果
              </td></tr>
            <tr><td class="date">15/12/18</td><td class="news">
                <%= link_to "川崎市立木月小学校との連携授業「ケーキ☆サイエンス」に出講しました.", "http://www.st.keio.ac.jp/news/20151217_002.html" %><br>

                12月2日(水)に"リニアはなんで浮くの？"の題目にて,小学校 4年生向けに 学生 5名 教員 1名の授業を行ないました.<br>
                木月小学校の皆さんに楽しんでもらえたようで何よりです.</td></tr>
            <tr><td class="date">15/11/15</td><td class="news">最近の学会発表(予定を含む)を列挙します.</br>
                </br>
                日時・場所: 12/ 3 (Thur.) 14:00-15:00 ・ 北海道大学電子科学研究所（北キャンパス総合研究棟5号館）１階会議室</br>
                題目: 鉄系混合アニオン化合物超伝導体の電子磁気状態相図と応用</br>
                登壇者: 神原陽一</br>
                <%= link_to "エンレイソウの会", "http://www.topo.hokudai.ac.jp/press/enreiso/index.html" %></br>
                <%= link_to "公益社団法人 応用物理学会 北海道支部", "http://annex.jsap.or.jp/hokkaido/" %></br>
                </br>
                日時・場所: 11/21 (Sat.) 15:20-15:40 ・　Session R2-5, 62-M (1st Floor, Bldg #62), Waseda University, Tokyo, Japan</br>
                題目: Research on Activation of N2 Adsorption on Transition Metals Surfaces Based on Density Functional Theory</br>
                登壇者: Takuro KINOSHITA</br>
                </br>
                <%= link_to "2nd International Symposium on Frontiers in Materials Science", "http://www.cms.sci.waseda.ac.jp/fms2015/Program-20151106.pdf" %></br>
                </br>
                日時:  10/1 (Thur.)</br>
                題目: Synthesis and electronic properties of a layered compound SmCr2Si2</br>
                登壇者: Hiromichi SUGAWARA</br>
                </br>
                日時: 9/28 (Mon.)</br>
                題目: Electronic and magnetic phase diagrams of iron-based superconductors LnFeAsO1-xFx (Ln: La, Sm, Eu, and Gd))</br>
                登壇者: Jun IIHARA</br>
                </br>
                日時: 9/28 (Mon.)</br>
                題目: 57Fe Mössbauer spectroscopy of heavy fermion CeFe1-xCrxPO</br>
                登壇者: Kazuaki IDA</br>
                以上, いずれも<%= link_to "International Conference on Electron Spectroscopy and Structure: ICESS-2015", "http://www.stonybrook.edu/commcms/icess/" %></br>
                </br>
            </tr>
            <tr><td class="date">15/10/13</td><td class="news">ホームページをリニューアルしました</td></tr>
            <tr><td class="date">15/08/29</td><td class="news">日本材料科学会若手討論会にて, 日比野君がプレゼンテーション賞を受賞しました.</td></tr>
            <tr><td class="date">15/08/17</td><td class="news">2nd Japan-Korea International Symposium on Materials Science and Technology 2015 (JKMST2015)
                にて発表を行ないます.<br>
                <br>
                日時: 8/26(Wed.) 15:55-<br>
                題目: Recent progress of transition metal-based layered superconductors<br>
                登壇者: Yoichi KAMIHARA<br>
                <br>
                日時: 8/27(Thu.) 12:30-13:40<br>
                題目: Crystal structure and thermoelectric properties of polycrystalline layered oxyselenides, nominal BiCuSeO<br>
                登壇者: Satoru KATSUMATA<br>
                <br>
                日時: 8/27(Thu.) 12:30-13:40<br>
                題目:  Electronic and magnetic phase diagram of aliovalent ions substituted LnFeAsO<br>
                登壇者: Taku HIBINO<br>
                <br> 
                パラレル開催の日本材料科学会若手討論会でも発表をします!<br>
              </td></tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-4">
        <h3>この研究室を希望される方へ</h3>
        <p>学部３年生、および大学院入試を控えた方はこちらをご覧ください。</p>
        <p><a href="about.html">的場･神原研概要</a></p>
        <h3>紹介Movie</h3>
        <p>Web of Scienceの使い方についてレクチャーしています。</p>
        <p><a href="http://ip-science.thomsonreuters.jp/products/web-of-science/yokuwakaru/">紹介Movieを見る</a></p>
      </div>
    </div>
  </div>
</div>
<div class="neighborhood-guides">
  <div class="container">
    <h2>超電導･新物質研究室</h2>
    <p>私どもは高温超伝導体と熱電エネルギー変換材料を中心とした物質を電子と格子からなる系としてとらえ,実験的理論的に研究し,<br>
    エネルギー環境分野に寄与できる新材料の創出を主眼としています.<br>

    現代の凝縮系科学の発展は非常に早く, それに追随することは
    大変苦労の多い仕事です. <br>
    とはいえ, このような努力は人類の生活の変化により生じてしまったエネルギー環境に関する課題解決のために必須のものであると, 私どもは信じています.<br>


    われわれは人類の先端知識に学び, 時々は先導しつつ,産業をはじめとする外の社会との関わりを模索しています.<br>
    私どもの研究室は慶應義塾大学矢上キャンパスの23棟3Fを中心に研究活動をしています.</p>
  </div>
</div>
