<div class="nav">
  <div class="container">
      <ul class="nav nav-tabs">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "研究概要", about_path %></li>
        <li><%= link_to "メンバー", member_path  %></li>
        <li><%= link_to "研究設備", equipment_path %></li>
        <li><%= link_to "リンク", links_path %></li>
        <li><%= link_to "論文輪講", posts_path %></li>
        <li><%= link_to "Wiki",  'http://matokami.wiki.fc2.com/' %></li>
        <div align="right">
            <%= image_tag("hp_logo.png") %>
        </div>
      </ul>
  </div>
</div>
