<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",  root_path %></li>
        <li><%= link_to "研究概要",  about_path %></li>
        <li><%= link_to "ニュース",  news_path %></li>
        <li><%= link_to "メンバー",  member_path %></li>
        <li><%= link_to "研究設備",  equipment_path %></li>
        <li><%= link_to "リンク",  links_path %></li>
        <li><%= link_to "Wiki",  'http://matokami.wiki.fc2.com/' %></li>
      </ul>
    </nav>
  </div>
</header>